ul li,
h1 {
  color: var(--fonteAlternativa);
}

main {
  padding: 2rem;
}

section {
  display: flex;
  gap: 2.5rem;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 45%;
}

ul li {
  margin-left: 1rem;
}

ul li ~ ul {
  margin-left: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
ul {
  margin-left: 2rem;
}

th,
td {
  color: var(--fonteAlternativa);
  border: 1px solid var(--fonteAlternativa);
  padding: 5px;
}
